*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{
    height: 150vh;
    width: 100%;
    background-color: #000;
    display: grid;
    grid-template-rows: 10% 45% 45%;
    grid-template-columns: repeat(4,1fr);
}

#nav{
    grid-column: 1/5;
    background-color: rgba(100, 179, 210, 0.401);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    position: fixed;
    height: 10%;
    width: 100%;
    backdrop-filter: blur(10px);
}

#movie-Container{
    grid-row: 2;
    grid-column:1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 5px;
    border: 2px solid black;
    gap: 15px;
    padding: 10px;
    margin-top: 0%;
}


#movie-Container2{
    grid-row: 3;
    grid-column:1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 5px;
    border: 2px solid black;
    gap: 15px;
    padding: 10px;
}


.mov{
    grid-row: 1/5;
    background-color: lightslategrey;
    border-radius: 10px;
   
    border: 2px solid white;
    padding: 8px;
    overflow: hidden;
}

.mov img{
    width: 100%;
    height: 60%;
    
    object-fit: cover;
    border-radius: 10px;
}
